@{ 
    ViewBag.Title = "Page Not Found";
}


<div>
    <h5> @ViewBag.Errormessage</h5>
    <hr />
    <a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">Return to homepage</a>
</div>